<div class="card">
    <div class="card-header text-white bg-inverse">
        <i class="fa fa-calendar-o mr" aria-hidden="true"></i><strong>Important Dates</strong>
    </div>
    <div class="card-block bg-faded">

	<!-- use <del> for extended deadlines -->
        <ul class="list-group list-group-flush">
	<li class="list-group-item bg-faded text-muted">Abstract **EXTENDED** deadline: <b>1st May 2023 AoE</b></li>
	<li class="list-group-item bg-faded text-muted">Submission **EXTENDED** deadline: <b>15th May 2023 AoE</b></li>
	<li class="list-group-item bg-faded text-muted">Paper notification: 19th June 2023 AoE</li>
	<li class="list-group-item bg-faded text-muted">Short papers and posters submission deadline: <b>1st July 2023 AoE</b></li>
	<li class="list-group-item bg-faded text-muted">Short papers and posters notification: 10th July 2023 AoE</li>
	<!-- <li class="list-group-item bg-faded text-muted">Camera-ready version: TBD</li> -->
        </ul>
    </div>
</div>
